<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <script src="~/js/tailwindcss-3.4.1.js"></script>
    <script src="~/js/htmx-2.0.3.js"></script>
    <style>
        .lazy-hide {
            display: none !important;
        }
    </style>
    <script>

        // hide lazy elements before first paint
        (function () {
            // As soon as the DOM is parsed (but ideally available even earlier)
            const lazyObserver = new MutationObserver(() => {
                document.querySelectorAll('.lazy').forEach(el => {
                    el.classList.add('lazy-hide');
                });
            });

            // Observe DOM construction for not yet parsed lazy elements
            lazyObserver.observe(document.documentElement, {
                childList: true,
                subtree: true
            });

            // First pass for already existing `.lazy` elements
            document.addEventListener("DOMContentLoaded", () => {
                document.querySelectorAll('.lazy').forEach(el => {
                    el.classList.add('lazy-hide');
                });
                lazyObserver.disconnect(); // If no longer needed
            });
        })();

        document.addEventListener('htmx:afterRequest', function (event) {
            const triggerEl = event.detail.requestConfig?.elt;

            if (!triggerEl) return;

            if (event.detail.xhr.status === 204) {
                triggerEl.classList.remove('lazy');
                triggerEl.classList.remove('lazy-hide');
            }
        });

        // HTMX triggert Events automatisch via HX-Trigger Header
        // Zusätzliches Logging für Debugging
        document.addEventListener('userLoggedIn', function () {
            console.log('User logged in event triggered');
        });

        document.addEventListener('userLoggedOut', function () {
            console.log('User logged out event triggered');
        });
    </script>
</head>

<body class="bg-white text-white">
    <main class="max-w-[1024px] mx-auto p-4 space-y-2">
        @RenderBody()
    </main>
</body>

</html>