@page "/component/paidcontent"
@model web_demo.Pages.Component.PaidContentModel
@{
    Layout = null;
}
<div class="p-4" hx-get="/component/paidcontent" hx-trigger="userLoggedIn from:body, userLoggedOut from:body"
    hx-swap="outerHTML">
    @if (Model.IsLoggedIn)
    {
        <p>Main content - Last loaded: @DateTime.Now.ToString("HH:mm:ss")</p>
    }
</div>