@page "/component/teaser"
@model TeaserModel
@{
    Layout = null;
}
<div class="p-4">
    <h1>@Model.Teaser.Title</h1>
    <p>@Model.Teaser.Content<br />Last loaded: @DateTime.Now.ToString("HH:mm:ss")</p>
</div>