@model bool
<div class="p-4" hx-get="/component/favorites" hx-trigger="userLoggedIn from:body, userLoggedOut from:body"
    hx-swap="outerHTML">
    @if (Model)
    {
        <p>Favorites - Last loaded: @DateTime.Now.ToString("HH:mm:ss")</p>
    }
</div>