<div id="teaser3" hx-swap-oob="innerHTML">
    <div class="p-4">Teaser 3 OOB</div>
</div>
<div id="content1" hx-swap-oob="innerHTML">
    <div class="p-4">Content 2 OOB</div>
</div>
<div id="main1" hx-swap-oob="innerHTML">
    <div class="p-4">Main 1 OOB</div>
</div>
