@page
@{
    ViewData["Title"] = "HTMX Demo";
}

<div class="flex gap-2">
    <div class="w-4/5 h-12 bg-blue-600"></div>
    <div class="w-1/5 h-12 bg-red-600" hx-get="/component/login" hx-trigger="load">
    </div>
</div>

<div class="flex gap-2">
    <div class="flex-1 h-24 bg-blue-600" hx-get="/component/teaser?t=2" hx-trigger="load delay:20ms"></div>
    <div class="flex-1 h-24 bg-blue-600"></div>
    <div class="flex-1 h-24 bg-red-600" hx-get="/component/favorites" hx-trigger="userLoggedIn from:body"></div>
</div>

<div class="w-full h-48 bg-blue-600">
    <div class="p-4">Kostenfreier Content</div>
</div>

<div class="w-full h-96 bg-red-600" hx-get="/component/paidcontent" hx-trigger="userLoggedIn from:body"></div>